{% extends 'base.html' %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

{% block content %}
    <br><br>
    <div class="container">
    <div class="jumbotron">
<h2 class="mb-4">Since we started work in 2000</h2>
		            <p>AghaJee Builders & Developers Private Limited is a Company formed on 2000. Our head Office at Jinnah Town Opposite BBISE Office having
		            branch offices in Airport Road, Nawa Killi.
		            A Qualified & Well reputed Personlity AGHA SAB leads the Company and Professionals manage every other Departments of the Organization.
		            Right from day one we have projects in hand and we handed several projects before schedule.

AghaJee Builders & Developers Private Limited is self-Sufficient & Self-reliant Company.Our specialty is that we do all the works in-house and all our Departments are headed by Experienced Professionals.
Our Team is Proffesionally Trained and totally Committed, dedicated and works on scientific principles and Values.
In fact, we are a company formed with the motto of delivering the best either it is Quality or Service.

<quote>From Planning to execution we take full care of our Clients Projects.</quote> We believe in quality of construction and try to hand over the Projects on time without any deviation replica watches breitling from By-Laws. We are the few builders who obtain Occupancy / Completion Certificate from the competent authority, so that buildings constructed by us are safe from all angles.</p>
</div>
    </div>
    <div class="row">
		          <div class="offset-1 col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center p-4 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="18">18</strong>
		                <span>Years of experience</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="50">50</strong>
		                <span>Project Done</span>
		              </div>
		            </div>
		          </div>


		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="1500">500</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		        </div>
{% endblock %}